@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, form, img{margin:0; padding:0; }
fieldset, img,input{border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
ul,ol,li{list-style:none;}
input{padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input{ vertical-align:middle;}
select, input, textarea { font-size:12px;}
textarea{resize:none;} /*防止拖动*/
img{border:0; vertical-align:middle;}  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table {border-collapse:collapse;}
/*清除浮动*/
.clearfix:before{
            content:"";
            display:block;
            height: 0;
            clear:both;
            overflow:hidden;
            visibility:hidden;
            /*兼容ie*/
            zoom:1;
 }
.clearfix:after{
            content:"";
            display:block;
            height: 0;
            clear:both;
            overflow:hidden;
            visibility:hidden;
            /*兼容ie*/
            zoom:1;
 }
a {text-decoration:none;color:#000; }
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}  /*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

*{-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
padding: 0;margin: 0;}

/*公共类*/

.fl {float:left;}
.fr {float:right;}
.al {text-align:left;}
.ac {text-align:center;}
.ar {text-align:right;}
.hide {display:none;}

