.home .homeHeader .homeHeader_1{
    height:1.066667rem;
    width:100%;
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 100;
    margin:0 auto;
    font-size: 32px;
    display:flex;
    justify-content: space-around;
    line-height: 1.066667rem;
    border-bottom: 0.013333rem solid;
}
.home .homeHeader .homeHeader_1 .homeInput{
    height:0.8rem;
    width:7.066667rem;
    position:relative;
    padding:0.16rem 0;
    line-height: 0;
}
.home .homeHeader .homeHeader_1 .homeInput input{
    height:0.8rem;
    width:6.133333rem;
    border-radius:0.4rem 0.4rem ;
    border:0;
    padding: 0 0 0 0.933333rem;
    font-size: 36px;
    color:lightgray;
} 
.home .homeHeader .homeHeader_1 .homeInput i{
    font-size: 50px;
    position:absolute;
    top: 50%;
    left:0.266667rem;
    transform: translate(0, -50%);
    color:lightgray;
}
.home .homeHeader .homeHeader_1>i{
    font-size: 48px;
}




.home .homeContent .lunbo{
    height:5.333333rem;
    width:100%;
    border-bottom: 0.013333rem solid;
}
.home .homeContent .contenBanner {
    height:2.133333rem;
    width:100%;
    border-bottom: 0.013333rem solid ;
}
.home .homeContent .contenBanner ul{
    height:2.133333rem;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.home .homeContent .contenBanner ul li{
    width: 1.333333rem;
    height:1.333333rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    line-height: 1.333333rem;
    border:0.013333rem solid;
}
.home .homeContent .contenBanner ul li img{
    height:0.8rem;
    width:0.8rem;

}
.home .homeContent .contenBanner ul li span{
    font-size: 24px;
}