/******************************header***********************************/
.hompage{
    width:100%;
    overflow:hidden;
}
.homepage .homeHeader .homeHeader_1{
    height:1.066667rem;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 100;
    /*margin:0 auto;*/
    font-size: 0.426667rem;
    display:flex;
    justify-content: space-around;
    line-height: 1.066667rem;
    /*background-color: white;*/
    padding-left: 0.333333rem;
    padding-right: 0.266667rem;
}
.homepage .homeHeader .homeHeader_1 .homeInput{
    height:0.8rem;
    width:7.066667rem;
    position:relative;
    padding:0.16rem 0;
    line-height: 0;
}
.homepage .homeHeader .homeHeader_1 .homeInput input{
    height:0.8rem;
    width:7.133333rem;
    border-radius:0.4rem 0.4rem ;
    border:0;
    /*padding: 0 0 0 0.933333rem;*/
    font-size: 0.40rem;
    color:#A3A3A3;
    background-color: #EDEDED;
} 
.homepage .homeHeader .homeHeader_1 .homeInput i{
    font-size: 0.533333rem;
    position:absolute;
    top: 67%;
    left:0.266667rem;
    transform: translate(0, -50%);
    color:gray;
}
.homepage .homeHeader .homeHeader_1>i{
    font-size: 0.64rem;
}


/******************************content***********************************/

.wayslContent{
    width:100%;
    background-color:#EDEDED;
    overflow:hidden;
}


.homepage .homeContent .lunbo{
    height:5.333333rem;
    width:100%;
}

.homepage .homeContent .lunbo img{
    height:5.333333rem;
    width:100%;
}

.homepage .homeContent .lunbo img{
    height:5.333333rem;
    width:100%;
}



.homepage .homeContent .contenBanner {
    background-color: white;
    height:2.133333rem;
    width:100%;
    display:flex;
    justify-content: center;
}
.homepage .homeContent .contenBanner ul{
    height:2.133333rem;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.homepage .homeContent .contenBanner ul li{
    width: 1.866667rem;
    height:1.833333rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.homepage .homeContent .contenBanner ul li div{
   flex:1;
   width:100%;
   display:flex;
   justify-content: center;
}
.homepage .homeContent .contenBanner ul li div img{
    height:0.9rem;
    width:0.9rem;
}
.homepage .homeContent .contenBanner ul li span{
    text-align: center;
    font-size: 0.32rem;
    flex:0.8;
}


.homepage .homeContent .news{
    height:1.066667rem;
    width:100%;
    padding:0 0.4rem;
    margin-top: 0.12rem;
    background-color: white;
    display:flex;
    line-height: 1.066667rem;
    justify-content: space-between;
}
.homepage .homeContent .news h5{
    color: red;
}
.homepage .homeContent .news ul{
    overflow:hidden;
    font-size: 0.32rem;
    width:6.266667rem;
}
.homepage .homeContent .news span{
    font-size: 0.426667rem;
}
.homepage .homeContent .news span i{
    font-size: 0.426667rem;
}



.homepage .homeContent .Zhuanqu{
    margin-top: 0.12rem;
    height:1.386667rem;
    width:4.933333rem;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.homepage .Zhuanqu img{
    height:1.386667rem;
    width:4.933333rem;
}

.homepage .wayslJxproduct{
    background-color: white;
    padding-bottom: 0.4rem;
}
.homepage .wayslJxproduct{
    margin-top: 0.12rem;
}
.homepage .wayslJxproduct>div>p{
    height:0.986667rem;
    width:100%;
    line-height: 0.986667rem;
    padding-left: 0.4rem;
}
.Jxproduct{
    position:relative;
    height:4.033333rem;
    overflow: hidden;
    width:100%;
}
.Jxproduct ul{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    font-size: 0.333333rem;
    border-top:0.013333rem solid #ccc;
    border-bottom: 0.013333rem solid #ccc;
    justify-content: center;
    overflow:auto;
    display: -webkit-box;
}

.Jxproduct ul li{
    height:4.453333rem;
    min-width:3.586667rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-right: 0.013333rem solid #ccc;
    border-left: 0.013333rem solid #ccc;
    padding:0.266667rem 0.213333rem;
}
.Jxproduct ul li .imgp{
    height:2.133333rem;
    width:2.133333rem;
    margin:0 auto;
}
.Jxproduct ul li .imgp img{
    width:100%;
    height:100%;
}
.Jxproduct>ul>li>p ,h6{
    height:0.533333rem;
    margin-top:0.066667rem;

   
}
.homepage .wayslJxproduct>div>p>span{
    
}

/******************************content_sections***********************************/
.homepage .Sections{
    /*height:15.466667rem;*/
    width:100%;
    background-color: white;
    margin-top:0.12rem;
}


.homepage .Sections>div>p{
    height:0.986667rem;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:0 0.4rem;
    line-height:0.986667rem;
}
.homepage .Sections>div>p>span{
    display:block;
    flex:1;
}
.homepage .Sections>div>p>span:last-child{
    text-align: right;
}
.homepage .Sections>div>p>span>i{
    font-size: 0.32rem;
}
.homepage .Sections .section{
    /*height:15.893333rem;*/
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.homepage .Sections .section .section_son ul{
   display:flex;
   justify-content:space-between;
   height:4.88rem;
   width:100%;
   font-size: 0.4rem;

}
.homepage .Sections .section .section_son ul li{
   flex:1;
   text-align: center;
   margin-bottom: 0.133333rem;
}
.homepage .Sections .section .section_son ul li:first-child{
    margin-right: 0.133333rem;
}

.homepage .Sections .section .section_son ul li img{
   width:100%;
   height:3.066667rem;
}
.homepage .Sections .section .section_son ul li h6{
   
}
.homepage .Sections .section .section_son ul li p{
   color:lightgray;
}
.homepage .Sections .section .section_son ul li p span ,.money{
   color:red;
}







/******************************bottom***********************************/

.wayslContent_buttom{
    height:5.333333rem;
    width:100%;
    border-bottom: 0.013333rem solid #ccc;
    padding:0 0.613333rem 0 0.613333rem;
    font-size: 0.32rem;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0.12rem;
    background-color: white;
    border-top: 0.013333rem solid #ccc;
}
.wayslContent_buttom div{
    border-bottom: 0.013333rem solid #ccc;
    height: 1.333333rem;
     width:100%;
     display:flex;
     text-align: center;
}

.wayslContent_buttom .content_buttom_1{
   justify-content: space-evenly;
   align-items: center;
}
.wayslContent_buttom .content_buttom_2{
    justify-content: space-around;
    height: 1.933333rem;

} 
.wayslContent_buttom .content_buttom_2 ul{
    display:flex;
    justify-content: space-around;
    height: 1.933333rem;
    width:100%;
    padding-top: 0.33333rem;
} 
.wayslContent_buttom .content_buttom_2 li{
    height:1.546667rem;
    width:1.0rem;
    align-items: center;
} 

.wayslContent_buttom .content_buttom_2 i{
    display:block;
    height:1.013333rem;
    width:1.013333rem;
    background: url('./img/bg-bottom.png') no-repeat center top;
    background-size: auto 100%;
}
.wayslContent_buttom .content_buttom_2 .kehu{
    background: url('./img/bg-bottom.png') no-repeat left top;
    background-size: auto 100%;
}
.wayslContent_buttom .content_buttom_2 .diannao{
    background: url('./img/bg-bottom.png') no-repeat right top;
    background-size: auto 100%;
}
.wayslContent_buttom .content_buttom_2 span{
   
}
.wayslContent_buttom .content_buttom_3{
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 0.266667rem;
    height:1.6rem;
} 
.wayslContent_buttom .content_buttom_3 ul{
    display:flex;
    justify-content: space-around;  
} 
.wayslContent_buttom .content_buttom_3 .waysl_content_p{
    display:flex;
    justify-content: space-around;

}
