.nav{
    background-color: white;
}
.nav>ul{
    padding-top: 0.133333rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /*height:100%;*/
    width:100%;
}
.nav>ul>li{
    height:1.32rem;
    width:25%;
    text-align: center;
}
.nav>ul>li>a{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size:20px ;
    display:block;
    height:1.32rem;
    width:100%;
    color:black;
}
.nav>ul>li>a>i{
    flex:1.2;
    display:block;
    font-size:50px;
    line-height:bottom;
    line-height: 0.733333rem;
}
.nav>ul>li>a>span{
    display:block;
    flex:0.8;
    color:#333;
    font-size: 30px;
}

@media screen and (min-width:992px){
    .nav>ul>li>a>i{ font-size:90px; }
    .nav>ul>li>a>span{ font-size:60px; }
}