
	.showBox{
		position:relative;
		align-self:center;
		width:400px;
		height:400px;
		border:1px solid #ccc;
		background:#fff;
		z-index: 1000;
		h2{
			height:72px;
			font-size:30px;
			padding-left:10px;
			line-height:70px;
			border-bottom:1px solid #ccc;
		}
		.ipt{
			padding-left:20px;
			>label{
				width:50px;
				text-align:right;
				margin-right:18px;
			}
		}
		.showBox_b{
			height:40px;
			margin-top:20px;
			padding-left:90px;
			>input{
				margin:10px;
			}
		}

	}

	.shade{
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:rgba(0,0,0,0.5);
		display:flex;
		justify-content:center;
	}

	.cancel{
		position:absolute;
		display:block;
		width:30px;
		height:30px;
		right:5px;
		top:5px;
		font-size:28px;
		line-height:25px;
		text-align:center;
		&:hover{
			background:red;
			color:#fff;
		}
	}
