.tc-content{
	width:250px;
	height:160px;
	border:1px solid #ccc;
	align-self: center;
	background-color: #fff;
	z-index: 1000;
	position:relative;
}
.tc-box{
	display:flex;
	justify-content: center;
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
}
.modal-box{
	display:block;
}