        #login{font-size:0.32rem;}
        #login .login-head{padding:1.146667rem 0.64rem 0.213333rem 0.64rem;text-align:center;}
        #login .login-head h1{font-weight:normal;color:#111;margin:0.133333rem 0;font-size:0.613333rem;}
        #login .login-head p{font-size:0.346667rem;color:rgba(0,0,0,0.5);}
        #login .login-body{margin-top:0.746667rem;padding:0 0.426667rem;}
        #login .login-body input{width: 9.146667rem;height:1.066667rem;border:0 none;font-size:0.373333rem;background:#EFEFEF;border-radius:0.533333rem;padding-left:0.533333rem;margin-bottom:0.24rem;}
        #login .login-body .btn{padding:0;color:#fff;background:#007DFF;}
        #login .login-body .rem{width:0.4rem;height:0.4rem;margin:0px;float:left;background:#fff;margin:0 0.266667rem;}
        #login .login-body .goto a{color:#2F98EA;line-height:1.333333rem;}
        #login .login-body .goto{height:1.333333rem;text-align:center;}
        #login .login-body .goto .a-reg{padding-right:1.013333rem;}
        #login .login-foot .other{height:0.013333rem;background: -webkit-linear-gradient(left,#fcfcfc,#cdcccc,#cdcccc,#fcfcfc);text-align:center;position:relative;}
        #login .login-foot .other span{position:absolute;left:3.013333rem;top:-0.186667rem;background:#fff;padding:0 0.533333rem;}
        #login .login-foot .foot{overflow:hidden;margin-top:0.666667rem;}
        #login .login-foot .foot span{display:block;float:left;}
        #login .login-foot .foot img{width:1.066667rem;height:1.066667rem;}
        #login .login-foot .foot .qq{margin-left:3.653333rem;}
        #login .login-foot .foot .alipay{margin-left:0.533333rem;}
        .tomain{padding-left:0.4rem;padding-top:0.266667rem;display:block;}