/*.lzf_topnav{
    width:100%;
    height:1.6rem;
    padding-left:0.373333rem;
    padding-top:0.22rem;
    background:rgb(191,31,31);
    display:flex;
    justify-content:space-between;
}
.lzf_topnav .left_topnav{display:flex;
    flex-direction: column;
    width:50%;height:1.6rem;
    color:white;
    font-size:0.346667rem;}
.lzf_topnav .left_topnav .lzf_profit{
    margin-top:0.066667rem;
    font-size:0.30rem;
}
.lzf_topnav .right_topnav{
    display:flex;
    padding-left:3.766667rem;
    width:50%;
}
.lzf_topnav .right_topnav .iconfont{
    display:inline-block;
    line-height:1.23rem;
    font-size:0.6rem;
    color:white;
}
*/

.lzf_topnavfixed{
    padding-left:0.31667rem;
    position:fixed;
    left:0;
    top:0;
    z-index:133;
    width:100%;
    height:1.3rem;
    background:rgb(191,31,31);
    color:white;
    display:flex;
    font-size:0.33rem;
}
.lzf_topnavfixed .left_topnav{
    display:flex;
    line-height:1.3rem;
    justify-content:flex-start;
    margin-right:4.0rem;
}
.lzf_topnavfixed .left_topnav p{width:1.733333rem;}



.lzf_topnavfixed .right_topnav .iconfont{
    display:inline-block;
    line-height:1.3rem;
    font-size:0.6rem;
    color:white;
}