.lzf_topnav{
    width:100%;
    height:1.6rem;
    padding-left:0.373333rem;
    padding-top:0.22rem;
    background:rgb(191,31,31);
    display:flex;
    justify-content:space-between;
}
.lzf_topnav .left_topnav{display:flex;
    flex-direction: column;
    width:50%;height:1.6rem;
    color:white;
    font-size:0.346667rem;}
.lzf_topnav .left_topnav .lzf_profit{
    margin-top:0.066667rem;
    font-size:0.30rem;
}
.lzf_topnav .right_topnav{
    display:flex;
    padding-left:3.766667rem;
    width:50%;
}
.lzf_topnav .right_topnav .iconfont{
    display:inline-block;
    line-height:1.23rem;
    font-size:0.6rem;
    color:white;
}


/*上下分别是吸顶前和吸顶后的样式*/

.lzf_topnavfixed{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:1.3rem;
    line-height:1.3rem;
    padding-left:0.373333rem;
    background:rgb(191,31,31);
    display:flex;
    justify-content:space-between;
    font-size:0.33rem;

}
.lzf_topnavfixed .left_topnav{
    display:flex;
    width:50%;
    line-height:1.3rem;
    color:white;
    justify-content:space-around;
}

.lzf_topnavfixed .right_topnav{
    display:flex;
    padding-left:3.766667rem;
    width:50%;
}
.lzf_topnavfixed .right_topnav .iconfont{
    display:inline-block;
    font-size:0.6rem;
    color:white;
}